<div class="row">
  <div class="col-md-12">
    <span id="user"> Hello There, <%= @conn.params["users"]%></span>
  </div>
  <div class="col-md-7">
    <h2>Messages:</h2>
    <ul id="messageList" class="list-unstyled">
    
    </ul>
    <input type="text" id="newMessage" class="form-control">
  </div>
  <div class="col-md-5">
    <h4>Users Online:</h4>
    <ul id="userList" class="list-unstyled">
      <li></li>
    </ul>
  </div>
</div>
